@model panictheorem.Domain.Entities.Section

<section class="transparent-section centered-section">
    <div class="section-content">
        <h1 class="title">@Html.Raw(Model.Title)</h1>
        <div class="underscore"></div>
        <h2 class="subtitle">@Html.Raw(Model.Body)</h2>
    </div>
</section>

