@model panictheorem.Domain.Entities.Section

<section id="hero-image">
    <div id="hero-content">
        <div id="hero-welcome">
            <div class="spacer-top"></div>
                <img src="~/Images/PanicCubePurple.png" id="hero-cube" />
                <h1>@Html.Raw(Model.Title)</h1>
                <div class="underscore"></div>
                <h3>@Html.Raw(Model.Body)</h3>
            </div>
    </div>
</section>

